/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

body {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;

  /*
        Colors used (color background was deleted but im going to keep this here for now

        Text Color (Dark Grey): #2b2b2b;
        Primary Color (Purple): #880CED; or #EB00EB
        Secondary Color (Dark Blue): #0D82EB
        */
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 23px;
}

a {
  color: undefined;
}

a :hover,
a:focus {
  /* no underlining when hovering over a link */
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: #0d82eb;
}

a:active {
  /* selected link */
  color: #489c79;
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration of the button */
  background-color: darkblue;
  color: white;
  text-decoration: none;

  /* adds space to the button border */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type
         of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration of the button */
  background-color: darkblue;
  color: white;
  text-decoration: none;

  /* adds space to the button border */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type
         of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets mouse appear as hand when hovering */
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: #e0b345;
  color: #2b2b2b;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom-style: ridge;
}

.page-header__item {
  width: 310px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.about-list {
  list-style-type: none;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: lightgray;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; /* Adding transition for smoother effect */
}

.grid__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05); /* Increase the size on hover */
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 30px;
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 40s cloud-move-reverse infinite alternate linear;
          animation: 40s cloud-move-reverse infinite alternate linear;
}